    <!-- Blocks -->
    <section class="block container">
        <header class="block__header">
          <h2 class="block__heading">Heading H2</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Reprehenderit, dicta.
          </p>
        </header>
        <div style="width: 30%; padding: 4rem">
          <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                laudantium reiciendis repudiandae autem at iste?
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="block block--dark block--skewed-left">
        <div class="container">
          <h2 class="block__heading">Heading H2</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit,
            dicta.
          </p>
        </div>
      </section>