    <!-- Collapsibles -->
    <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">WordPress Hosting</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          voluptatibus ducimus possimus repellendus numquam consequatur. Vel ullam
          modi est.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Free Automated WordPress</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          voluptatibus ducimus possimus repellendus numquam consequatur. Vel ullam
          modi est.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Migrations</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          voluptatibus ducimus possimus repellendus numquam consequatur. Vel ullam
          modi est.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Domian Names</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          voluptatibus ducimus possimus repellendus numquam consequatur. Vel ullam
          modi est.
        </div>
      </div>
      <div class="collapsible">
        <header class="collapsible__header">
          <h2 class="collapsible__heading">Monthly Web Hostings</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe porro
          voluptatibus ducimus possimus repellendus numquam consequatur. Vel ullam
          modi est.
        </div>
      </div>